/*requirements for resume styling assignmet

Create 2 links
Set the color of the links and remove the underline. - 10 points
Style :hover effect. - 10 points
Use a custom font. - 10 points
Make sure you use an external stylesheet using the tag. - 10 Points
Style 2 section html tag - 10 points
ie p, b, address, etc
Create and use 5 id - 25 points
Create and use 2 class - 20 points
Must use each class more the once
Make sure the webpage and css works. - 5 points

*/

h1 {
  color: red;
  font-family: "Rammetto One", sans-serif;
  margin: 0;
  padding-bottom: 10px;

}

section {
  /* border: 1px solid black; */
  background-color: yellow;
}

img {
  border: 10px solid red;
}


.paragraph {
  color: green;
  width: 320px;
}

#header {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: pink;
  background-color: black;
}

.italic {
  text-decoration: underline;
  color: green;
  font-family: sans-serif;
}

h3 {
  color: red;
  font-family: "Roboto", sans-serif;
  font-weight: 900i;
}
