/*requirements for resume styling assignmet

Create 2 links

Create and use 5 id - 25 points
Create and use 2 class - 20 points

*/

.column {
    float: left;
}

.left {
  width: 20%;
  margin: 0;
  padding: 0;
}

.right {
  width: 50%;
  margin-left: 200px;
}

.rightright {
  width: 30%;
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  position: fixed;
}

h1 {
  color: white;
  background-color: black;
  white-space: pre-line;
  text-align:center;
  width:1em;
  height: 100vh;
  margin: 0;
}

h2 {
  text-decoration: underline;
}

/*this is how I styled my links on the page */
a {
  text-decoration: none;
  color: black;
  font-style: italic;
}

/*this is how you do a hover effect*/
a:hover {
  color: grey;
}

/*this is my class for custom line spacing*/
.sectionheader {
  line-height: 5px;
}

/*this is how I added some padding to the bottom of my lists*/
ul {
  padding-bottom: 10px;
}
