h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
}

ul {
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   font-family: 'Roboto', sans-serif;
}

li {
  float: left;
  padding: 10px;

}

li a {
    display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover{
  background-color: #111;
}

img {
  width:300px;
  height:300px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.box {
  max-width: 100%;
}

@media (max-width: 800px) {
  .container {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
